# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.bk

# Runtime data (do not version)
src/infrastructure/data/user.json
src/infrastructure/data/logs.json
src/infrastructure/data/sequences.json
src/infrastructure/data/sleep_data.json
src/infrastructure/data/agenda.json
src/infrastructure/data/user.json.lock
src/infrastructure/data/user_history.json
src/infrastructure/data/fountain.json

implement.md
trouble.md
node_modules/

tests/

.nx/cache
.nx/workspace-data

.venv/
build/
dist/
main.spec
