# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo


src/data/user.json
src/data/logs.json
src/data/sequences.json
src/data/sleep_data.json
src/data/agenda.json
src/data/user.json.lock
implement.md
node_modules/

tests/
